*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 100px;
}


.ticket-item {
  margin: auto;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ticket-item + .ticket-item {
  margin-top: 20px;
}

.sidebar {
  background-color: navajowhite;
}

.ticket-list {
  padding: 1rem;
}
.caption {
  font-weight: 700;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
  padding: 1rem;
}

@media screen and (min-width: 760px) {
  .main-inner {
    display: flex;
  }

  .sidebar {
    display: block;
    width: 250px;
  }
  .ticket-list {
    width: calc(100vw - 250px);
  }

  .ticket-list-inner {
    margin: auto;
    width: 60%;
  }


}
